.player {
    width: 640px;
}

.media-player {
    display: flex;
    justify-content: center;
}

.navigation {
    align-self: flex-start;
    font-size:200%;
}

.social-player {
    text-align: left;
    background: #FFFAF0;
    color: #1E4D2B;
}
