.pod {
    width: 640px;
}

.pod:hover  {
    color: #FFFF00;

}

#pod_pod {
    display: flex;
}

.date_pod {
    padding-left:21px;
    width:13%;
}

.episode_title_pod {
    width:87%;
    overflow:hidden;
    text-overflow:ellipsis
}
