html,body {
  -webkit-font-smoothing:antialiased;
  -webkit-text-size-adjust:100%;
  background-color:#014421;
  color:#F8F8FF;
  font-size:105%;
  font: caption;
  font-weight:300;
  letter-spacing:.025rem;
  line-height:1.618;
  padding:1rem 0;
}

audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
  -webkit-user-select: none;
  background: transparent;
  -webkit-filter: hue-rotate(143deg) saturate(10);
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 0;
  overflow: hidden;
  height: 16px;
  text-align: right;
}

